body {
  margin: 0;
}

.bg {
  background-image: url("./pictures/8a97cb72400713.5be5d5d40cdb8.jpg");
  height: calc(100vh - 94.781px);
  background-repeat: no-repeat;
  background-size: 100%;
}
.card-text {
  font-weight: bold;
  font-size: 20px;
}
.admin {
  background-image: url("./pictures/8a97cb72400713.5be5d5d40cdb8.jpg");
  background-repeat: repeat;
  background-size: 100%;
}
